<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    <h2>Key Generation</h2>
    <button class="btn btn-primary" (click)="onGenerateKey()">Generate Key</button>
    <hr>
    <p><strong>Do not lose or share this key with anyone!</strong></p>
    <p>It is the key to your wallet. It is used to transfer money out of your wallet.</p>
    <br>
    <p><strong>Key: </strong></p>
    <p class="text-field well text-center">{{ key }}</p>
    <br>
    <hr>
    <p>
      The address is where you will receive money. It is not 
      a secret and can be shared with anyone.
    </p>
    <br>
    <p><strong>Address: </strong></p>
    <p class="text-field well text-center">{{ address }}</p>
  </div>
</div>
