<div class="jumbotron text-center">
  <h1>Brocoin</h1>
  <p>A cryptocurrency you can use with your friends</p>
</div>
<div class="container">
  <div id="wrapper" class="div">
    <div class="row">
      <div class="col-xs-4 text-center">
        <h3>Mine your own money</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, 
          ullam! Quos odit magni, non aut reiciendis assumenda possimus, 
          numquam maxime tempore perferendis temporibus aspernatur? Enim 
          sit incidunt cumque repudiandae culpa!
        </p>
      </div>
      <div id="middle" class="col-xs-4 text-center">
        <h3>Trade with friends</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, 
          ullam! Quos odit magni, non aut reiciendis assumenda possimus, 
          numquam maxime tempore perferendis temporibus aspernatur? Enim 
          sit incidunt cumque repudiandae culpa!
        </p>
      </div>
      <div class="col-xs-4 text-center">
        <h3>Blockchain for everyone</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, 
          ullam! Quos odit magni, non aut reiciendis assumenda possimus, 
          numquam maxime tempore perferendis temporibus aspernatur? Enim 
          sit incidunt cumque repudiandae culpa!
        </p>
      </div>
    </div>
  </div>
</div>